[submodule ".registry"]
	path = .registry
	url = https://github.com/joshuaammons/joshuaammons.r-universe.dev
	branch = HEAD
[submodule "didgpu"]
	path = didgpu
	url = https://github.com/JoshuaAmmons/didgpu
